version: '3.8'

services:
  web:
    build: .
    command: gunicorn -w 4 -b 0.0.0.0:8000 run:app
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY=prod_secret_key_change_me
      - GROQ_API_KEY=${GROQ_API_KEY}
      - DATABASE_URL=postgresql://user:password@db:5432/assignment_db
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=assignment_db
    restart: always

volumes:
  postgres_data: