Werkzeug
groq
python-dotenv
psycopg2-binary
pypdf
pytesseract
pdf2image
Pillow
flask
sqlalchemy
pdf2image
requests==2.31.0
Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
requests==2.31.0
gunicorn==21.2.0


